<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OpenStory.Server.Properties.Settings.OpenStoryConnectionString"
      connectionString="Data Source=SHOFTBOX;Initial Catalog=OpenStory;Persist Security Info=True;User ID=OpenStoryUser;Password=.@c#8sharp" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>