<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OpenStory.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OpenStory.Server.Properties.Settings.OpenStoryConnectionString" connectionString="Data Source=SHOFTBOX;Initial Catalog=OpenStory;Persist Security Info=True;User ID=OpenStoryUser;Password=.@c#8sharp" />
  </connectionStrings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <userSettings>
    <OpenStory.Server.Properties.Settings>
      <setting name="MapleVersion" serializeAs="String">
        <value>68</value>
      </setting>
    </OpenStory.Server.Properties.Settings>
  </userSettings>
</configuration>