<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OpenStory.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="OpenStory.Server.Properties.Settings.OpenStoryConnectionString"
      connectionString="Data Source=SHOFTBOX;Initial Catalog=OpenStory;Persist Security Info=True;User ID=OpenStoryUser;Password=.@c#8sharp" />
  </connectionStrings>
  <applicationSettings>
    <OpenStory.Server.Properties.Settings>
      <setting name="MapleVersion" serializeAs="String">
        <value>66</value>
      </setting>
    </OpenStory.Server.Properties.Settings>
  </applicationSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>