<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpenStory.Server.Emulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OpenStory.Emulation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OpenStory.Server.Emulation.Properties.Settings>
            <setting name="MapleVersion" serializeAs="String">
                <value>67</value>
            </setting>
            <setting name="LoginPort" serializeAs="String">
                <value>8484</value>
            </setting>
        </OpenStory.Server.Emulation.Properties.Settings>
        <OpenStory.Emulation.Properties.Settings>
            <setting name="MapleVersion" serializeAs="String">
                <value>67</value>
            </setting>
        </OpenStory.Emulation.Properties.Settings>
    </applicationSettings>
</configuration>